.category{
	&__content{
		margin-top: 292px;
	}
	&__texts{
		display: flex;
	}
	&__text{
		font-weight: 700;
		font-size: 36px;
		color: #000000;
	}
	&__btn{
		font-weight: 600;
		font-size: 17px;
		display: flex;
		align-items: center;
		color: #FB8F1D;
	}
	&___img{
		width: 467px;
		height: 337px;
		left: 1099px;
		top: 2034px;
		background: url(../img/category/indonesia.png);
	}

}